<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>API VK</title>
	<link href={{ url_for('static', filename='style5.css') }} rel='stylesheet'>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ru'});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Часть речи');
        data.addColumn('number', 'Количество');
        data.addRows([
          {% for pos, num in data.items() %}
              ['{{ pos }}', {{ num }}],
          {% endfor %}
        ]);

        var options = {'title':'Части речи в последних постах',
                       'width':700,
                       'height':500,
					   'colors':['#3E1255'],
                       'legend': { position: "none" }};

        var chart = new google.visualization.ColumnChart(document.getElementById('colomnchart'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div class='menu'>
		<div class='btn-group'>
			<a href={{ url_for('index') }} class='button2'>Главная</a>
			<a href={{ url_for('text') }} class='button2'>Анализ глаголов</a>
			<a href={{ url_for('apivk') }} class='active'>API VK</a>
			<a href={{ url_for('chatbot') }} class='button2'>Чат-бот</a>
		</div>
	</div>
	<div class='main'>
		<div class='content'>
			<form method='post'>
				<h2>Название группы VK (ID):</h2>
				<input type='text' name='group_id'>
				<br><br>
				<input class='button' type='submit' value='Получить список словоформ'>
			</form>
		</div>
		<div class='content'>
			{% if is_closed %}
				<h3>Закрытая группа!</h3>
			{% elif lemmas %}
				<h2>Самые частотные словоформы из последних постов группы:</h2>
				<div id='colomnchart' style='float: right'></div>
				<ol>
					{% for lemm in lemmas %}
						<li>{{ lemm }}</li>
					{% endfor %}
				</ol>
			{% endif %}
		</div>
	</div>
</body>
</html>