<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Главная страница</title>
	<link href={{ url_for('static', filename='style5.css') }} rel='stylesheet'>
</head>
<body>
	<div class='menu'>
		<div class='btn-group'>
			<a href={{ url_for('index') }} class='active'>Главная</a>
			<a href={{ url_for('text') }} class='button2'>Анализ глаголов</a>
			<a href={{ url_for('apivk') }} class='button2'>API VK</a>
			<a href={{ url_for('chatbot') }} class='button2'>Чат-бот</a>
		</div>
	</div>
	<div class='main'>
		<div class='content'>
			Автор сайта: Полина Сонина (группа 141)
			<br><br><i><a class='button' href = 'https://github.com/SoDipole/python_3year/tree/master/flask_project' target='_blank'>Проект на GitHub</a></i>
		</div>
	</div>
</body>
</html>