<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кошки Собаки</title>
	<link href={{ url_for('static', filename='style1.css') }} rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="content">
			<form action = {{ url_for('results') }} method = "POST">
				Ваше имя: <input type='text' name='name'>
				<br><b>Кого вы больше любите?</b>
				<span class="option">
					<input type='radio' class="radio-custom" name='pet' value='cat' id="radio-1"> 
					<label for="radio-1" class="radio-custom-label">кошек</label>
				</span>
				<span class="option">
					<input type='radio' class="radio-custom" name='pet' value='dog' id="radio-2"> 
					<label for="radio-2" class="radio-custom-label">собак</label>
				</span>
				<input class='button' type='reset' value='Очистить'>
				<input class='button' type='submit' value='Проголосовать'>
			 </form>
		</div>
	</div>
</body>
</html>